<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="foundation/css/foundation.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="foundation/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="app.css" media="screen" title="no title" charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="js/angularjs.js"></script>
  <title>Samuel Oliveira</title>
</head>
<body>

  <div class="large-5 back-lista" ng-controller="MostrandoContatos">
    <h5 class="text-center">{{aplicacao}}</h5>
    <div class="medium-12">
        <input type="text" placeholder="O que você está buscando?" ng-model="criterioBusca">
    </div>
    <div class="large-12">
      <table class="table-control">
        <tr>
          <th></th>
          <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
          <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
          <th>Operadora</th>
          <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat = "contato in contatos | limitTo: 10 | filter:criterioBusca | orderBy:criterioOrdenacao:direcaoOrdenacao">
          <td><input id="checkbox1" type="checkbox" ng-model="contato.selecionado"></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </table>
    </div>
    <div class="large-12">
      <form name="contatoForm">
        <div class="medium-12">
            <input type="text" placeholder="Nome" ng-model="contato.nome" name ="nome" ng-required="true" ng-minlength="10">
        </div>
        <div class="medium-12">
            <input type="text" placeholder="Telefone" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
        </div>
        <select ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras | orderBy:'nome'">
          <option value="">Selecione uma operadora</option>
        </select>
      </form>
      <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="large-10 alerta text-center">
        Por favor, preencha o nome!
      </div>

      <div ng-show="contatoForm.nome.$error.minlength" class="large-10 alerta text-center">
        O tamanho minimo é de 10 caracteres!
      </div>

      <div ng-show="contatoForm.telefone.$error.require && contatoForm.telefone.$dirty" class="large-10 alerta text-center">
        Por favor, preencha o telefone!
      </div>

      <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="large-10 alerta text-center">
        O campo telefone deve ter o formato XXXXX-XXXX.
      </div>

      <div class="large-10">
        <button type="button" class="button botaoAdicionar" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button type="button" class="button alert botaoAdicionar" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar contato</button>
      </div>
    </div>
  </div>

</body>
</html>
